showreel/frames_*/
showreel/test*/
showreel/log_*.txt
showreel/s[hv][12].png
showreel/spec.png
showreel/snd/*.wav
showreel/chk/
showreel/frames30_*/
showreel/test30_*/
showreel/g30*.png
showreel/log30.txt
showreel/framesP_*/
showreel/tp_*/
showreel/gp_*.png
showreel/q[12].png
showreel/logP.txt
