@font-face{font-family:'Nunito Sans';font-weight:300;src:url(fonts/n1.ttf)}
@font-face{font-family:'Nunito Sans';font-weight:400;src:url(fonts/n2.ttf)}
@font-face{font-family:'Nunito Sans';font-weight:700;src:url(fonts/n3.ttf)}
@font-face{font-family:'Nunito Sans';font-weight:900;src:url(fonts/n4.ttf)}
